@model IEnumerable<Data.Domain.Entities.RouteNode>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OfficialCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DestinationStationCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OriginStationCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DestinationStationName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OriginStationName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Km)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartureTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArrivalTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Standing)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficialCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationStationCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginStationCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationStationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginStationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Km)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Standing)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
