@model Data.Domain.Entities.Train

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Train</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CumulatedKm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CumulatedKm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OfficialNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OfficialNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OperatorCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OperatorCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OwnerCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwnerCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rank)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>
    </dl>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Station</th>
                <th>Arrive</th>
                <th>Standing</th>
                <th>Departure</th>
                <th>OfficialCode</th>
            </tr>
        </thead>
            <tbody>
                @foreach (var routeNode in Model.RouteNodes)
                {
                    <tr>
                    <td>
                        @routeNode.OriginStationName
                    </td>

                        <td>
                            @if (routeNode.ArrivalTime != 0)
                            { 
                                 @String.Format(new DateTime(TimeSpan.FromSeconds(routeNode.ArrivalTime).Ticks).ToString("HH:mm"));
                            }
                        </td>
                        <td>
                            @((int)(routeNode.Standing/60.0 + 0.5))
                        </td>
                        <td>
                            @String.Format(new DateTime(TimeSpan.FromSeconds(routeNode.DepartureTime).Ticks).ToString("HH:mm"))
                        </td>
                        <td>
                            @routeNode.OfficialCode
                        </td>
                        
                    </tr>
                }
            </tbody>
     </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
