@model Data.Domain.Entities.Ticket

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrainId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrainId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OriginStationId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OriginStationId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DestinationStationId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DestinationStationId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Km)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Km)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bike)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bike)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Car)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
