@model Data.Domain.Entities.Ticket

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>
        <dd>
           @Model.DepartureDate.ToShortDateString()
        </dd>
        <dt>
            From
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OriginStationName)
        </dd>
        <dt>
            To
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DestinationStationName)
        </dd>
        <dt>
            Train
        </dt>
        <dd>
           @(Model.TrainCategory + Model.TrainNumber)
        </dd>
        <dt>
            Class
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd>
            @String.Format(new DateTime(TimeSpan.FromSeconds(Model.DepartureTime).Ticks).ToString("HH:mm"))
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd>
            @String.Format(new DateTime(TimeSpan.FromSeconds(Model.ArrivalTime).Ticks).ToString("HH:mm"))
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @if (@Model.ArrivalTime - @Model.DepartureTime > 0)
            {
                @String.Format(new DateTime(TimeSpan.FromSeconds(@Model.ArrivalTime - @Model.DepartureTime).Ticks).ToString("HH:mm"))
            }
            else
            {
                int middle_night_seconds = 86400;
                @String.Format(new DateTime(TimeSpan.FromSeconds(@Model.ArrivalTime + middle_night_seconds - @Model.DepartureTime).Ticks).ToString("HH:mm"))
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Km)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Km)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bike)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bike)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Car)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seats)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seats)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adults)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adults)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Children)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Children)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Students)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Students)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
