@model IEnumerable<Data.Domain.Entities.Ticket>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Train
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartureTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArrivalTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Car)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Seat)
                </th>
                <th>
                    From
                </th>
                <th>
                    To
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrainCategory)@Html.DisplayFor(modelItem => item.TrainNumber)
            </td>
            <td>
                @String.Format(new DateTime(TimeSpan.FromSeconds(item.DepartureTime).Ticks).ToString("HH:mm"))
            </td>
            <td>
                @String.Format(new DateTime(TimeSpan.FromSeconds(item.ArrivalTime).Ticks).ToString("HH:mm"))
            </td>
            <td>
                @if (@item.ArrivalTime - @item.DepartureTime > 0)
                {
                    @String.Format(new DateTime(TimeSpan.FromSeconds(@item.ArrivalTime - @item.DepartureTime).Ticks).ToString("HH:mm"))
                }
                else
                {
                    int middle_night_seconds = 86400;
                    @String.Format(new DateTime(TimeSpan.FromSeconds(@item.ArrivalTime + middle_night_seconds - @item.DepartureTime).Ticks).ToString("HH:mm"))
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginStationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationStationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
